<% include ../partials/header %>

<h1>Welcome to the baby index</h1>
<table class="table">
<%babies.forEach(function(baby){%>
<tr>
<td>
	<%= baby.name%>
	</td>
	<td>
	<img style="width:50px" src="<%= baby.image%>" alt="">
	</td>
	<%})  %>

	</tr>
	</table>

<% include ../partials/footer %>