<% include ../partials/header %>

<a class="btn btn-default" href="/activities/new">Create a kids activity</a>
<h1>Browse and create activities</h1>

<div ng-view></div>

<% include ../partials/footer %>


